header {
   background-color: var(--color-primary);
   color: white;
   padding-block: var(--spacing-md);

   nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .logo {
         font-size: var(--font-h3);
         color: white;
      }
      .menu {
         display: flex;
         flex-wrap: wrap;
         gap: var(--spacing-md);

         a {
            padding-inline: var(--spacing-md);
            padding-block: var(--spacing-sm);
            border-radius: var(--border-radius);
            border-bottom: 2px solid transparent;
            transition: var(--transition);
         }
         a.active,
         a:hover {
            background-color: rgba(0, 0, 0, 0.1);
            border-bottom: 2px solid rgba(0, 0, 0, 0.3);
         }
      }
   }
}

.hero {
   background: url("../imgs/hero.png") no-repeat center/cover;
   color: white;
   height: 80vh;
   display: flex;
   align-items: center;
   position: relative;

   .hero-content {
      max-width: var(--text-max-width);
   }
   h1 {
      font-size: var(--font-size-hero);
      color: white;
   }
   p {
      font-weight: var(--font-w-medium);
      margin-bottom: var(--spacing-lg);
      color: white;
   }
   .cta-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-md);
   }
}

.about {
   background-color: white;
   .container {
      display: grid;

      .left-col {
         p {
            font-size: var(--font-p-sm);
            margin-block: var(--spacing-lg);
         }

         .features-list {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);

            li {
               display: flex;
               align-items: center;
               gap: var(--spacing-md);

               span {
                  font-size: var(--font-p-md);
                  font-weight: var(--font-w-semi-bold);
               }
               span.number {
                  position: relative;
                  color: var(--color-primary);
               }
               span.number::after {
                  content: "/";
                  position: absolute;
                  right: -0.25em;
                  transform: translateX(100%);
                  color: var(--color-primary);
               }
            }
         }
      }

      .right-col {
         max-width: fit-content;
         margin: var(--spacing-lg) auto;
         position: relative;

         img {
            border-radius: var(--border-radius);
            max-width: 100%;
         }
         img:nth-of-type(2) {
            width: 45vw;
            max-width: fit-content;
            padding-left: 1rem;
            position: absolute;
            bottom: var(--spacing-lg);
            left: 0;
            transform: translateX(-1.5em);
         }
         @media (min-width: 525px) {
            img:nth-of-type(2) {
               padding-left: 0rem;
            }
         }
      }
   }
}

.call-to-action {
   background: url("../imgs/CtA.png") no-repeat center/cover;
   color: white;

   .content {
      max-width: var(--text-max-width);
   }
   h2 {
      color: white;
   }
   p {
      font-weight: var(--font-w-medium);
      margin-block: var(--spacing-md);
      color: white;
   }
   a {
      border-radius: var(--border-rounded);
   }
}

.solar-kits {
   .kit {
      overflow: hidden;
      box-shadow: var(--shadow-sm);
      transition: var(--transition);

      img {
         width: 100%;
      }
      .content {
         padding: var(--spacing-md);
         background-color: white;

         h3 {
            margin-block: var(--spacing-sm);
         }
         p {
            font-size: var(--font-p-sm);
         }
         a {
            color: var(--color-primary);
            font-weight: var(--font-w-semi-bold);
            margin-top: var(--spacing-md);
         }
      }
   }
   .kit:hover {
      transform: scale(1.01);
   }
}

.repair {
   background: url("../imgs/repair.png") no-repeat center/cover;
   text-align: center;

   .content {
      background-color: rgba(0, 0, 0, 0.57);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      width: 850px;
      max-width: 80%;
      padding: var(--spacing-lg);
      margin-inline: auto;
      border-radius: var(--border-radius);
   }
   h2 {
      color: white;
   }
   p {
      font-weight: var(--font-w-medium);
      margin-block: var(--spacing-md);
      color: white;
   }
}

.product-showcase {
   background-color: rgba(255, 187, 28, 0.05);
   .container {
      display: grid;
      gap: var(--spacing-md);

      .right-col {
         display: grid;
         gap: var(--spacing-md);

         .product-card {
            align-self: flex-start;
            padding: var(--spacing-md);
            border-radius: var(--border-radius);
            border: 1px solid var(--color-primary);
            transition: var(--transition);

            img {
               width: 100%;
               border-radius: var(--border-radius);
            }
            p {
               font-size: var(--font-p-sm);
               margin-block: var(--spacing-md);
            }
            a {
               color: var(--color-primary);
               font-weight: var(--font-w-semi-bold);

               span {
                  margin-left: var(--spacing-sm);
               }
            }
         }
         .product-card:hover {
            transform: scale(1.01);
         }
      }
   }
}

.values {
   .value-card {
      background-color: rgba(60, 171, 144, 0.05);
      padding: var(--spacing-lg);
      border-radius: var(--border-radius);
      border: 1px solid var(--color-primary);
      transition: var(--transition);

      img {
         width: 40px;
         height: 40px;
      }
      h3 {
         margin-block: var(--spacing-sm);
      }
      p {
         font-size: var(--font-p-sm);
      }
   }
   .value-card:hover {
      transform: scale(1.01);
   }
}

.testimonial {
   .container {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .left-col {
         flex: 1;

         .quote-icon {
            width: 58px;
            height: 48px;
            fill: var(--color-primary);
            transform: rotate(180deg);
         }
         h2 {
            font-weight: var(--font-w-bold);
            margin-block: var(--spacing-sm);
         }
      }

      .right-col {
         flex: 2;
         background-color: rgba(60, 171, 144, 0.05);
         border-radius: var(--border-radius);
         padding: var(--spacing-lg);

         .testimonial-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: var(--spacing-md);

            h3 {
               color: var(--color-primary);
               font-size: var(--font-p-sm);
               font-weight: var(--font-w-bold);
            }
            .dots {
               display: flex;
               gap: 5px;

               .dot {
                  width: 8px;
                  height: 8px;
                  background-color: #d9d9d9;
                  border-radius: 50%;
               }
               .dot.active {
                  background-color: var(--color-primary-dark);
               }
            }
         }
         .testimonial-quote {
            font-size: var(--font-p-lg);
            margin-bottom: var(--spacing-md);
         }
         .testimonial-footer {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-md);
            justify-content: space-between;
            align-items: center;

            .testimonial-author {
               display: flex;
               align-items: center;

               img {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  margin-right: var(--spacing-sm);
               }
               .info {
                  display: flex;
                  flex-direction: column;

                  .author-name {
                     font-weight: var(--font-w-semi-bold);
                  }
                  .author-title {
                     font-size: var(--font-p-sm);
                     color: var(--color-muted);
                  }
               }
            }
            .testimonial-nav {
               display: flex;
               gap: 10px;

               button {
                  background-color: transparent;
                  border: 1px solid var(--color-primary);
                  border-radius: 50%;
                  width: 40px;
                  height: 40px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  box-shadow: var(--shadow-sm);
                  transition: var(--transition);

                  svg {
                     width: 24px;
                     height: 24px;
                     fill: var(--color-text);
                  }
               }
               button:hover {
                  box-shadow: var(--shadow-md);
                  transform: scale(1.01);
               }
            }
         }
      }
   }
}

footer {
   --color: #92989f;
   color: white;
   background-color: var(--color-dark);

   .footer-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-bottom: var(--spacing-2xl);
      border-bottom: 1px solid #71777d;

      nav {
         display: flex;
         flex-wrap: wrap;
         gap: var(--spacing-md);
         margin-block: var(--spacing-md);
      }
   }

   .footer-subscribe {
      p {
         color: white;
         margin-bottom: var(--spacing-sm);
      }
      form {
         --off-white: rgba(255, 255, 255, 0.1);
         max-width: 100%;
         display: flex;
         flex-wrap: wrap;
         gap: var(--spacing-sm);

         input {
            border-radius: var(--border-rounded);
            padding-inline: var(--spacing-md);
            padding-block: var(--spacing-sm);
            border: 1px solid var(--off-white);
            background-color: var(--color-dark);
            color: white;
            outline: transparent;
         }
         button {
            border-radius: var(--border-rounded);
            padding-inline: var(--spacing-md);
            padding-block: var(--spacing-sm);
            border: 1px solid var(--off-white);
            background-color: var(--color-accent);
            color: white;
            cursor: pointer;
         }
      }
   }
   @media (min-width: 305px) {
      .footer-subscribe {
         form {
            flex-wrap: nowrap;
            gap: 0;

            button {
               position: relative;
               right: var(--spacing-2xl);
            }
         }
      }
   }

   .footer-bottom {
      margin-top: var(--spacing-2xl);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .footer-links a {
         color: var(--color);
         padding-inline: var(--spacing-md);
         border-right: 1px solid var(--color);
         margin-bottom: var(--spacing-md);
      }
      .footer-copyright {
         color: var(--color);
         padding-inline: var(--spacing-md);
      }
   }
}

/* Media Queries */
/* sm: */
@media (min-width: 640px) {
}
/* md: */
@media (min-width: 768px) {
   .product-showcase {
      .container {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   .testimonial-section {
      .container {
         flex-direction: row;
         align-items: flex-start;

         .left-col {
            padding-right: 30px;
         }
      }
   }
}
/* lg: */
@media (min-width: 1024px) {
   .about-section {
      .container {
         display: grid;
         grid-template-columns: repeat(5, 1fr);
         gap: var(--spacing-md);

         .left-col {
            grid-column: span 3;
         }
         .right-col {
            grid-column: span 2;
            margin: 0;
         }
      }
   }

   .product-showcase {
      .container {
         grid-template-columns: repeat(3, 1fr);
         .right-col {
            grid-column: span 2;
            grid-template-columns: repeat(2, 1fr);
         }
      }
   }
}
